<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>yyh.CLI-Pulse.helper</string>

    <key>BundleProgram</key>
    <string>Contents/Helpers/cli_pulse_helper</string>
    <key>ProgramArguments</key>
    <array>
        <string>cli_pulse_helper</string>
        <string>daemon</string>
        <string>--interval</string>
        <string>120</string>
    </array>

    <key>RunAtLoad</key>
    <false/>

    <key>KeepAlive</key>
    <true/>

    <key>ProcessType</key>
    <string>Background</string>

    <key>ThrottleInterval</key>
    <integer>30</integer>
</dict>
</plist>
